.sign-in{
     min-width: 360px;
     width: auto;
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
     padding: 0 0 55px 0;

     .customBtnContainer{
          display: flex;
          justify-content: center;
     }

     .title{
          padding: 30px 0 0 0;
          color: #1E881C;
          align-self: center;
     }

     .haveAccount{
          align-self: center;
          color: #1E881C;
     }
}